
.wrap-2{ padding: 157px 0 153px 0; background: url(../img/page2banner.webp) no-repeat top center/cover; text-align: center; color: white;

    h2{font-size: 48px;
    span{font-weight: 300; margin-left: 10px;}
margin-bottom: 28px;}

h4{ font-weight: 400; font-size: 1.5rem;}
}