.top-nav {
    background-color: #333333;
    color: #858585;


    select {
        border: none;
        background-color: transparent;
        color: inherit;

    }

    .shopping {
        background-color: #00c8c8;
        color: white;
        // margin-left: 27px;
        padding: 9px 13px;
        white-space: nowrap;
        position: relative;
        #cart-icon{font-size: 20px;}

        .cart-count{
            position: absolute;
            background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: grid;
  place-items: center;
  top: 2px;
  right: 4px;
        }

       
    }

    a {
        color: inherit;
        margin: 0 10px;
    }

    .register {
        white-space: nowrap;
    }

    .sign {
        white-space: nowrap;
    }

    .column-gap {
        gap: 40px;
    }


}

.bottom-nav {
    padding: 39px 0 19px 0;

    position: relative;
    z-index: 1;


    .menu {
        width: 90px;
        height: 35px;
        border: 2px solid rgb(7, 8, 8);
        position: absolute;
        right: 17px;
        top: 42px;
        border-radius: 10px;
        display: none;

    }

    .menu span {
        height: 2px;
        display: block;
        margin: 4px auto;
        width: 60px;
        background-color: rgb(10, 10, 10);
        transition: 400ms;
        transform-origin: right center;

    }

    .menu.active span:nth-child(1){rotate: -14deg;}
.menu.active span:nth-child(2){opacity: 0;}
.menu.active span:nth-child(3){rotate: 14deg;}

    a {
        color: #222222;
        font-size: 13px;
        white-space: nowrap;
        font-weight: 500;
        padding:  .5rem;
        display: block;

        &:hover {
            color: #00c8c8;
        }
    }

    .men{position: relative;}
    .look{position: relative;}

    .dropdown {
        
        position: absolute;
       
        left: -195px;
        background-color: #fff;
        border: 1px solid #fff;
        box-shadow: 0px 0px 5px;
       
        padding: 25PX 65PX;
        display: none;
      

       

        z-index: 3;
        


        a {
            font-size: 14px;
          
            display: block;
        }

        ul:nth-child(2) {
            margin-left: 95px;
        }

        b {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 20px;
            white-space: nowrap;
        }

    }

   

    .men:hover .dropdown {
        // visibility: visible;
        // opacity: 1;

        display: block;
    }

    .look:hover .dropdown {
        // visibility: visible;
        // opacity: 1;

        display: block;
    }

   




    .caret::after {
        
        content: "";
        border: 5px solid;
        display: inline-block;
        border-color: #a5a5a5 transparent transparent transparent;
        margin: -3px 3px;

    }

    form {
        position: relative;
        float: right;

        input {
            padding: 5px;
            border: 1px solid #a5a5a5;
        }

        span {
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translateY(-50%);
            color: #a5a5a5;
        }
    }

    .sale {
        background-color: #333333;
        color: #fff;
        padding: 24px 40px;
        margin-top: 52px;
    }

    h2 {
        font-size: 24px;
        white-space: nowrap;

        span {
            font-weight: 400;
        }
    }

}