@use 'reset';
@use 'grid';
@use 'header';
@use 'footer';
@use 'banner';
@use 'lookbook';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$ff: "Montserrat", sans-serif;
$fontSize: 15px;

html {
    font-size: $fontSize;

}


body {
    font: 16px $ff;
    font-size: 16px;

}

.line{
    hr {
        max-width: 100%;
        margin-top: 63px;
    }
}

.wrap-3 {
    padding: 45px 0 0 0;
    position: relative;
.another-product{background-color: #e8ebf3;}
   

    .bar {
        width: 90px;
        height: 35px;
        border: 2px solid rgb(7, 8, 8);
        position: absolute;
        left: 17px;
        top: 8px;
        border-radius: 10px;
        display: none;

    }

    .bar span {
        height: 2px;
        display: block;
        margin: 4px auto;
        width: 60px;
        background-color: rgb(10, 10, 10);
        transition: 400ms;
        transform-origin: right center;
    }

    .bar.active span:nth-child(1){rotate: -14deg;}
    .bar.active span:nth-child(2){opacity: 0;}
    .bar.active span:nth-child(3){rotate: 14deg;}

    .tab {
        margin-bottom: 20px;

        a {
            margin-left: 14px;
            font-size: 13px;
            color: rgb(114, 114, 114);
            font-weight: 500;

          
        }


        .active{background-color: #00c8c8; padding: 5px 25px; margin-left: 1rem; 
            &:hover {color: #fff;}
        }
    }

    .tab div:not(:nth-child(1)) {
        margin-left: 35px;
    }

    .lookbook1 {
        background: linear-gradient(to right, #e5e5e7,#e5e6e8,#e4e5e7,#e8e9eb, #d6d7d9);
        margin-top: 1rem;
        box-shadow: 0 0 5px #aaa;
       
        height: 100%;
        width: 100%;
       

        .about {
          position: relative;
      
        padding-left: 10px;

            h2 {margin-top: 1rem;
                font-size: 39px;
                color: #575153;
                // white-space: nowrap;

                span {
                    font-weight: 400;
                }
            }

            b {
                margin: 15px 0 10px 0;
                font-size: 13px;
                color: #727272;
                display: block;
            }

            p {
                font-size: 1rem;
                line-height: 22px;
                color: #939292;
            }

            .para1 {
                margin-bottom: 20px;
            }

            .view {
                border: 2px solid #737373;
                padding: 10px;
                width: 150px;
                text-align: center;
                margin: 23px 0 0 0;

                a {
                    font-size: 16px;
                    color: #828384;
                }
            }
        }

        &:hover{   box-shadow: 0 0 10px #aaa;}

    }



    .lookbook2{background: linear-gradient(to right, #efefed, #f1f1ef, #f3f3f3, #f7f7f7,#ecede8,#ebebe9,#eeeeec, #ececea,#ededeb);
        margin-top: 1rem;
        box-shadow: 0 0 5px #aaa;
       
        height: 100%;
        width: 100%;

        .about{padding-left:  10px; position: relative; 
            h2 {margin-top: 1rem;
                font-size: 35px;
                color: #575153;
                // white-space: nowrap;

                span {
                    font-weight: 400;
                }
            }

            b {
                margin: 15px 0 10px 0;
                font-size: 13px;
                color: #727272;
                display: block;
            }

            p {
                font-size: 1rem;
                line-height: 22px;
                color: #939292;
            }

            .para1 {
                margin-bottom: 20px;
            }

            .view {
                border: 2px solid #737373;
                padding: 10px;
                width: 150px;
                text-align: center;
                margin: 23px 0 70px 0;

                a {
                    font-size: 16px;
                    color: #828384;
                }
            }
        }

        &:hover{box-shadow: 0 0 10px #aaa;}
    
    
    }

  

    .ref {
        position: absolute;
        top: 3%;
        left: 6%;
        color: #9a9a9a;
        font-size: 21px;

        sup {
            font-size: 10px;
        }
    }

    .product {
        position: relative;
       margin-top: 1rem;
        box-shadow: 0 0 5px #aaa;
       
        height: 100%;
        width: 100%;
      
    }

    .product:hover{
        box-shadow: 0 0 10px #aaa;
    }

    .gap-30{gap: 2rem 0;}

   

 
}

@media screen and (max-width: 1770px) {}

@media screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }

    .col-d-12 {
        flex-basis: 100%;
        max-width: 100%;
    }



   .wrap-4{
    .flex-column{flex-flow: column;}
   .lookbook-about{
    .look_book{
        margin: 30px 0 77px 0;
        padding-left: 2rem;
    }
   }
  }


}

@media screen and (max-width: 980px) {


    .col-t-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .col-t-6 {
        flex-basis: 50%;
        max-width: 50%;
    }


    .col-t-12 {
        flex-basis: 100%;
        max-width: 100%;
    }


    .bottom-nav {
        .menu {
            display: block;
        }

        .collapse {
            display: none;
            position: absolute; right: 0;  top: 72px; z-index: 1; text-align: right; left: 0;
            background-color: #131313;

           a{padding-bottom: 10px; color: white;}
           .tablet_menu {padding-top: 10px;
            >li{padding: 0 20px 10px 0; }
           }

           .dropdown{position: static; 
        a{color: black;}}

        .flex-t-column{flex-flow: column;}
      
        }

        form {
            margin-right: 188px;

            label {
                input {
                    width: 20rem;
                }
            }
        }

    }

    .wrap-3 {


        .bar {
            display: block;
        }

        .tab {
            display: none;
            position: absolute; right: 0;  top: 57px; z-index: 1;  left: 0;
            background-color: #131313;

           .row{
            div{margin-left: 0; padding: 10px;}
           }
           .flex-t-column{flex-flow: column;}
        }

       

  
    }

    .wrap-3{

        .row{
          

            .gap-m-30{gap: 2rem 0;}
        }

    }

    .wrap-4{
        .flex{flex-flow: row;}
    }

    .footer {
        .footer-bottom {
            .flex {
                div:first-child {
                    margin-left: 0;
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {
    html {
        font-size: 13px;
    }

    .col-m-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-m-12 {
        flex-basis: 100%;
        max-width: 100%;
    }


    .bottom-nav {
        form {
            margin-right: 125px;

            label {
                input {
                    width: 19rem;
                }
            }
        }
    }



    .footer {
        .footer-bottom {
            .flex {
                div:first-child {
                    margin-left: -34px;
                }
            }
        }
    }


}

@media screen and (max-width: 460px) {

    .col-p-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-p-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    header {

        .p-text-center {
            text-align: center;
        }



        .top-nav {

            label {
                select {
                    margin-right: 100px;
                }
            }


            .column-gap {
                gap: 2rem;
            }


            

            .currency {
                display: none;
            }



        }

        .bottom-nav {
            padding-top: 19px;

            h2 {
                margin-top: 1em;
                font-size: 22px;
            }

            .row {
                .col-p-12 {
                    order: -1;
                }

                .menu {
                    top: 67px;
                }



            }


            form {
                margin-right: 48px;

                label {
                    input {
                        width: 18rem;
                    }
                }
            }

            .collapse{top: 109px;
            
                .flex-column{flex-direction: column;}
    
                .sale{
                    h2{font-size: 19px;}
                }
            }


        }
    }
    .wrap-2{
        h2{
            font-size: 37px;
        }
    }


    .wrap-3{
        .lookbook2{
            .col-7{order: -1;}
        }

        .lookbook1{
            .col-8{order: -1;}
        }
    }
    .wrap-4{padding-bottom: 40px;
   
    .flex-column{flex-flow: column;}

}

.line{
    hr {
       
        margin: 40px 0 1rem 0;
    }
}


}