*,::before,::after{ margin: 0; box-sizing: border-box;}   
// *,::before,::after{ margin: 0; box-sizing: border-box; outline: 1px solid blue;}   
a{text-decoration: none;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}
ul{ list-style: none; padding: 0;}
label{ display: inline-block;}
.image{max-width: 100%; height: auto; }
.img{width: 100%; height:100%; object-fit: cover;}
.fit-full{ width: 100%; height: 100%; object-fit: fill;}