@use 'reset';
@use 'grid';
@use 'header';
@use 'footer';
@use 'banner';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$ff:"Montserrat",sans-serif;
$fontSize:15px;

html{
    font-size: $fontSize;
     
}


body{
    font: 16px $ff;
    font-size: 16px;
   
}

.wrap-3{padding: 20px 0 122px 0; 

    .border{width: 1px; height: 347px; border:1px solid #eeeeee ; margin: auto;}

    .sign{
        button{

            font-size: 13px; font-weight: 400; border:1px solid #737373; color: #454647; width: 100px;
            padding: 10px 0;
            &:hover{background-color: #00c8c8; color: #fff; border-color: #00c8c8;}
        }

        a{ font-size: 1rem; color: #00c8c8;}
       

      
    }

label{display: block;
input[type=email]{width: 461px; padding: 7px; margin-bottom: 2rem; }
input[type=password]{width: 461px; padding: 7px; margin-bottom: 2rem; }





}
h5{font-size: 18px; color: #a5a2a3; margin: 2rem 0; 

}
.createaccount{margin-top: 2rem;
    div{font-size: 1rem; color: #8e8c8c; margin-left: 67px;
    a{color: #00c8c8;
   
}
}
button{font-size: 13px;  border:1px solid #737373; color: #454647; width: 300px; padding: 15px 0;
    &:hover{background-color: #00c8c8; color: #fff; border-color: #00c8c8;}}}

    .check{font-size: 12px;
        color: #8e8c8c; margin-left: 10px; }
}

@media screen and (max-width: 1770px){

}

@media screen and (max-width: 1200px){
    html{font-size: 14px;}
    
}

@media screen and (max-width: 980px){

    .col-t-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }


    .col-t-12 {
        flex-basis: 100%;
        max-width: 100%;
    }


    .bottom-nav {
        .menu {
            display: block;
        }

        .collapse {
            display: none;
            position: absolute; right: 0;  top: 72px; z-index: 1; text-align: right; left: 0;
            background-color: #131313;

           a{padding-bottom: 10px; color: white;}
           .tablet_menu {padding-top: 10px;
            >li{padding: 0 20px 10px 0; }
           }

           .dropdown{position: static; 
        a{color: black;}}

        .flex-t-column{flex-flow: column;}
      
        }

        form {
            margin-right: 188px;

            label {
                input {
                    width: 20rem;
                }
            }
        }

    }

.wrap-3{
   label{
    input[type=email]{width: 300px; padding: 7px; margin-bottom: 2rem; }
    input[type=password]{width: 300px; padding: 7px; margin-bottom: 2rem; }
   }

   .createaccount{
    button{
        font-size: 11px;
        padding: 1rem 6px; white-space: nowrap;
    }
   }
}

    .footer {
        .footer-bottom {
            .flex {
                div:first-child {
                    margin-left: 0;
                }
            }
        }
    }


   
    
}

@media screen and (max-width: 768px){
    html{font-size: 13px;}
    .col-m-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .bottom-nav {
        form {
            margin-right: 125px;

            label {
                input {
                    width: 19rem;
                }
            }
        }
    }


.wrap-3{
    .col-hide{
        display: none;
    }

    .sign{
        a{margin-left: 3rem;}
    }

    .justify-normal{justify-content: normal;}
}


    .footer {
        .footer-bottom {
            .flex {
                div:first-child {
                    margin-left: -34px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 460px){
    .col-p-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-p-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    header {

        .p-text-center {
            text-align: center;
        }



        .top-nav {

            label{
                select{margin-right: 100px;}
            }


            .column-gap {
                gap: 2rem;
            }


          

            .currency {
                display: none;
            }



        }

        .bottom-nav {
            padding-top: 19px;

            h2 {
                margin-top: 1em;
                font-size: 22px;
            }

            .row {
                .col-p-12 {
                    order: -1;
                }

                .menu {
                    top: 67px;
                }



            }


            form {
                margin-right: 48px;

                label {
                    input {
                        width: 18rem;
                    }
                }
            }

            .collapse{top: 109px;
            
                .flex-column{flex-direction: column;}
    
                .sale{
                    h2{font-size: 19px;}
                }
            }
        }
    }

    .wrap-2{
        h2{font-size: 2rem;}
    }
    
}
 